<div class="container">
  <div class="row row-cols-1 row-cols-md-1">
    <h2>My toilet bookings</h2> <br>
    <%= link_to 'Back to the listings', toilets_path%>

      <% @bookings.each do |booking| %>
      <% if booking.toilet.user == current_user %>
        <div class="col mb-4">
          <div class="card">

          <h3 class="card-title"><%= booking.toilet.name %></h3>
            <p class="card-text"><%= booking.toilet.address %></p>
            <img class="card-img" src="https://cdn.bigbathroomshop.co.uk/media/catalog/product/cache/ff73992cf668642d4cde13a1ab7ced86/d/o/docmoo1_ls_1_new_1000.jpg" alt="Card image">
            <p class="card-text"> <strong>Status</strong><br> <%= booking.status %></p>
            <p class="card-text"> <strong>From</strong><br> <%= booking.entry_time %></p>
            <p class="card-text"> <strong>To</strong><br> <%= booking.exit_time %></p>
            <p class="card-text"> <strong>Booked by</strong><br> <%= booking.user.first_name %></p>

             <% if booking.status == "Pending host validation..." %>
                <%= simple_form_for (booking) do |f| %>
                  <%= f.input :status %>
                  <select class="form-control">
                    <option>Confirm Booking</option>
                    <option>Reject Booking</option>
                  </select>
                  <%= f.submit %>
            <% end %>

            <% end %>

        </div>
          </div>
          <% else %>

          <div class="col mb-4">
          <div class="card">

          <h3 class="card-title"><%= booking.toilet.name %></h3>
            <p class="card-text"><%= booking.toilet.address %></p>
            <img class="card-img" src="https://cdn.bigbathroomshop.co.uk/media/catalog/product/cache/ff73992cf668642d4cde13a1ab7ced86/d/o/docmoo1_ls_1_new_1000.jpg" alt="Card image">
            <p class="card-text"> <strong>Status</strong><br> <%= booking.status %></p>
            <p class="card-text"> <strong>From</strong><br> <%= booking.entry_time %></p>
            <p class="card-text"> <strong>To</strong><br> <%= booking.exit_time %></p>
            <p class="card-text"> <strong>Total price (CHF/min)</strong><br> <%= booking.toilet.price %></p>



        </div>
          </div>

          <% end %>
      <% end %>
  </div>
</div>
