<div class="container">
  <%= form_for(@toilet, @booking) do |f| %>
    <%= f.label :entry_time %>
    <%= f.timestamp :entry_time %>
    <%= f.label :exit_time %>
    <%= f.timestamp :exit_time %>
    <%= f.submit %>
  <% end %>

</div>
