<%= simple_form_for(@toilet) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :address %></p>
  <p><%= f.text_field :address %></p>
  <p><%= f.input :description, as: :text%></p>
  <p><%= f.label :price %> cents/minute</p>
  <p><%= f.number_field :price %></p>
  <p><%= f.input :photo, as: :file %></p>
  <p><%= f.submit %>
<% end %>
