<div class="container">
  <% if policy(Toilet).create? %>
    <button type="button" class="btn btn-outline-primary mt-3"><%= link_to "Submit my toilets", new_toilet_path %></button>
  <% end %>
  <h1>Choose your toilet</h1><br>
  <div class="card-deck">
    <% @toilets.each do |toilet| %>

      <div class="card" style="width: 18rem;">
        <img class="card-img" src="https://cdn.bigbathroomshop.co.uk/media/catalog/product/cache/ff73992cf668642d4cde13a1ab7ced86/d/o/docmoo1_ls_1_new_1000.jpg" alt="Card image">

          <h3 class="card-title"><%= toilet.name.upcase%></h3>
          <p class="card-text"><%= toilet.description %></p>
          <%= link_to "more info", toilet_path(toilet), class: 'card-link' %>

      </div>

      <% if policy(Toilet).destroy? %>
        <%= link_to toilet_path(toilet), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_dose"></i>
        <% end %>
      <% end %>

      <% if policy(Toilet).update? %>
        <%= link_to edit_toilet_path(toilet), method: :update do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>


</div>



