<div class="container">

  <% if policy(Toilet).create? %>
    <button type="button" class="btn btn-outline-primary mt-3 mb-3"><%= link_to "Submit my toilets", new_toilet_path %></button>
  <% end %>
  <div id="map"
      style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="row row-cols-1 row-cols-md-2 mt-3">
    <% @toilets.order('created_at DESC').each do |toilet| %>
      <div class="col mb-4">
        <div class="card">
          <img src="<%= cl_image_path(toilet.photo.key,:width=>400, :height=>260 , :crop=>"fill",:gravity=>"auto") %>">
          <div class="card-body">
            <h5 class="card-title"><%= toilet.name.upcase%></h5>

            <% if policy(toilet).destroy? %>
              <%= link_to toilet_path(toilet), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose"></i>
              <% end %>
            <% end %>

              <% if policy(toilet).update? %>
                  <%= link_to edit_toilet_path(toilet) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
              <% end %>

            <p class="card-text"><%= toilet.description %></p>
            <%= link_to toilet_path(toilet), class: 'card-link' do %>
              <% if toilet.user == current_user %>
                See my reservations
              <% else %>
                Book now!
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

