<div class="container-fluid">
  <% if @toilet.user == current_user %>
    <% if policy(@toilet).create? %>
      <h1>Thank you for sharing your toilets !</h1>
    <% end %>
    <div class="card">
      <% @toilet.bookings.each do |booking| %>
        <h3 class="card-title"><%= booking.toilet.name %></h3>
          <p> <strong>From</strong><br> <%= booking.entry_time %></p>
          <p> <strong>To</strong><br> <%= booking.exit_time %></p>
          <p> <strong>Total price (cents/minute)</strong><br> <%= booking.toilet.price %></p>
      <% end %>
    </div>
  <% else %>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path(@toilet.photo.key,:width=>200, :height=>200 ,:gravity=>"auto") %>);" >
    <div class="container">
    <h1><%=@toilet.name.capitalize %></h1>
      <p><%=@toilet.description %></p>
      <p><%=@toilet.price*15%>.- for 15mn</p>
      <button type="button" class="btn btn-outline-primary mt-3 mb-3"><%= link_to "Book now!", toilet_path(@toilet, anchor: "book_card")%></button>

      <% end %>
    </div>

</div>
<div class="card p-3 mt-3 mb-3" id=book_card>
        <%= simple_form_for [@toilet, @booking] do |f| %>
          <%= f.input :entry_time, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :exit_time, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
  </div>
</div>



